<%= link_to "Voltar", controller: "clients", action: "show", id: @payment["customer"] %>
<div class="d-inline-block ml-3">
  <%= button_to "Imprimir PDF", {target: "_blank", controller: "payments", action: "pdf", id: @payment["id"]}, {class: "btn btn-primary"} %>
</div>

<div class="mt-4 mb-4">
  <hr>
</div>

<div class="row" style="margin-bottom: 15px">
  <div class="logo-col">
    <%= image_tag 'abras_logo.png', height: "150", width: "350" %>
  </div>
  <div class="abras-col">
    <div class="report-title"><strong>ABRAS - Associação Brasileira de Supermercados</strong></div>
    <div>62.360.268/0001-91</div>
    <div>pbr@volltrix.com.br</div>
    <div>(11) 3838-4557</div>
    <div>Av Diogenes Ribeiro Lima, 2872, 9 andar, Alto Da Lapa</div>
    <div>CEP: 05083010</div>
    <div>São Paulo - SP</div>
    <div>www.abras.com.br</div>
  </div>
</div>

<% if @installments_summary["totalValue"].present? %>
  <div class="block-border">
    <div class="row">
      <div class="col-12 block-title">
        Dados da Fatura
      </div>
      <div class="col-6">
        <div class="section-title">
          Valor Total
        </div>
        <div class="section-body lg-text">
          <%= @installments_summary["totalValue"] %>
        </div>
      </div>
      <div class="col-6">
        <div class="section-title">
          Data de Emissão
        </div>
        <div class="section-body lg-text">
          <%= @payment["dateCreated"] %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section-title">
          Descrição
        </div>
        <div class="section-body">
          <%= @installments_summary["description"] %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="block-border">
    <div class="row">
      <div class="col-12 block-title">
        Dados da Fatura - <%= @payment["invoiceNumber"] %>
      </div>
      <div class="col-4">
        <div class="section-title">
          Valor
        </div>
        <div class="section-body lg-text">
          <%= @payment["reportValue"] %>
        </div>
      </div>
      <div class="col-4">
        <div class="section-title">
          Data de Emissão
        </div>
        <div class="section-body lg-text">
          <%= @payment["dateCreated"] %>
        </div>
      </div>
      <div class="col-4">
        <div class="section-title">
          Data de Vencimento
        </div>
        <div class="section-body lg-text">
          <%= @payment["dueDate"] %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section-title">
          Descrição
        </div>
        <div class="section-body">
          <%= @payment["description"] %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @installments %>
  <div class="block-border">
    <div class="row">
      <div class="col-12 block-title">
        Parcelas
      </div>
      <div class="col-12">
        <% @installments.each do |installment| %>
          <div class="row" class="mb-4">
            <div class="col-6">
              <div class="section-title">
                Descrição
              </div>
              <div class="section-body">
                <%= installment["description"] %>
              </div>
            </div>
            <div class="col-3">
              <div class="section-title">
                Valor
              </div>
              <div class="section-body">
                <%= installment["reportValue"] %>
              </div>
            </div>
            <div class="col-3">
              <div class="section-title">
                Data de Vencimento
              </div>
              <div class="section-body">
                <%= installment["dueDate"] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="block-border">
  <div class="row">
    <div class="col-12 block-title">
      Dados do Pagador
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="section-title">
            Nome
          </div>
          <div class="section-body">
            <%= @client["name"] %>
          </div>
        </div>
        <div class="col-6">
          <div class="section-title">
            CNPJ
          </div>
          <div class="section-body">
            <%= @client["cpfCnpj"] %>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-12">
      <div class="section-title">
        Endereço
      </div>
      <div class="section-body">
        <span>Rua: <%= @client["address"] %>, <%= @client["addressNumber"] %>, <%= @city %> - <%= @client["state"] || "N/A" %>, CEP: <%= @client["postalCode"] || "N/A" %></span>
      </div>
    </div>
  </div>
</div>

<style>
* {
  box-sizing: border-box;
}
.logo-col {
  float: left;
  width: 45%;
  padding: 0px 20px 0px 20px;
}
.abras-col {
  float: left;
  width: 55%;
  padding: 0px 10px 0px 10px;
}
.section-title {
  border: 1px solid black;
  padding: 5px;
}
.section-body {
  padding: 5px;
}
.block-border {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}
.block-title {
  font-size: 20px;
}
.lg-text {
  font-size: 30px
}
.report-title {
  font-size: 25px;
}
</style>